@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #f4f4f4;
}

.ingredientItem::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #475467;
    border-radius: 50%;
}